@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:300,400&display=swap');
/* Variables */
/* End Variables */

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Hepta Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: inherit;
  font-weight: 700;
}

a:active,
a:hover {
  outline-width: 0;
}
/* End General Styles */

/* Main Layout */
.app-wrapper {
  overflow: hidden;
  display: grid;
  align-items: start;
  justify-content: start;
  grid-template-columns: 1fr;
  grid-template-areas:
    'hero'
    'services'
    'featured'
    'footer';
}

.hero-section {
  grid-area: hero;
}

.services-section {
  grid-area: services;
}

.featured-section {
  grid-area: featured;
}

.footer-section {
  grid-area: footer;
}
/* End Main Layout */
