@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Sofia Pro';
  src: url('../assets/fonts/Sofia Pro Light.woff') format('woff'),
    url('../assets/fonts/Sofia Pro Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../assets/fonts/Sofia Pro Regular.woff') format('woff'),
    url('../assets/fonts/Sofia Pro Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../assets/fonts/Sofia Pro Bold.woff') format('woff'),
    url('../assets/fonts/Sofia Pro Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
/* Variables */
:root {
  --font-size: 16px;
  --main-black: '#000';
  --main-white: '#fff';
}
/* End Variables */

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Sofia Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-size: var(--min-font);
  background: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-white);
  background: var(--main-black);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: inherit;
  font-weight: 700;
}

a:active,
a:hover,
button {
  outline-width: 0;
}
/* End General Styles */

/* Main Layout */
.app-wrapper {
  background: rgb(5, 5, 5);
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

/* End Main Layout */

/* Utils */
.drop-shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}
.box-shadow {
  /* box-shadow: 0px 0px 8px 2px #000000; */
  box-shadow: 0px 11px 28px 0px rgb(0, 0, 0), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}
/* End Utils */
