/* Font family */
.font-sans {
  font-family: $font-sans;
}
.font-serif {
  font-family: $font-serif;
}
.font-mono {
  font-family: $font-mono;
}

/* Font sizes */
.text-sm {
  font-size: $text-xs;
}
.text-sm {
  font-size: $text-sm;
}
.text-base {
  font-size: $text-base;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}
.text-2xl {
  font-size: $text-2xl;
}
.text-3xl {
  font-size: $text-3xl;
}
.text-4xl {
  font-size: $text-4xl;
}
.text-5xl {
  font-size: $text-5xl;
}
.text-6xl {
  font-size: $text-6xl;
}
.text-7xl {
  font-size: $text-7xl;
}

/* Font style */
.italic {
  font-style: italic;
}
.not-italic {
  font-style: normal;
}

/* Font weight */
.font-hairline {
  font-weight: 100;
}
.font-thin {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* Letter spacing */
.tracking-tighter {
  letter-spacing: $tracking-tighter;
}
.tracking-tight {
  letter-spacing: $tracking-tight;
}
.tracking-normal {
  letter-spacing: $tracking-normal;
}
.tracking-wide {
  letter-spacing: $tracking-wide;
}
.tracking-wider {
  letter-spacing: $tracking-wider;
}
.tracking-widest {
  letter-spacing: $tracking-widest;
}

/* Line height */
.leading-none {
  line-height: $leading-none;
}
.leading-tight {
  line-height: $leading-tight;
}
.leading-snug {
  line-height: $leading-snug;
}
.leading-normal {
  line-height: $leading-normal;
}
.leading-relaxed {
  line-height: $leading-relaxed;
}
.leading-loose {
  line-height: $leading-loose;
}
.leading-3 {
  line-height: $leading-3;
}
.leading-4 {
  line-height: $leading-4;
}
.leading-5 {
  line-height: $leading-5;
}
.leading-6 {
  line-height: $leading-6;
}
.leading-7 {
  line-height: $leading-7;
}
.leading-8 {
  line-height: $leading-8;
}
.leading-9 {
  line-height: $leading-9;
}
.leading-10 {
  line-height: $leading-10;
}

/* List style type */
.list-none {
  list-style-type: none;
}
.list-disc {
  list-style-type: disc;
}
.list-decimal {
  list-style-type: decimal;
}

/* List style position */
.list-inside {
  list-style-position: inside;
}
.list-outside {
  list-style-position: outside;
}

/* Text align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

/* Text colors */
.text-transparent {
  color: transparent;
}
.text-current {
  color: currentColor;
}
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}
.text-gray-100 {
  color: $gray-100;
}
.text-gray-200 {
  color: $gray-200;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-400 {
  color: $gray-400;
}
.text-gray-500 {
  color: $gray-500;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gray-700 {
  color: $gray-700;
}
.text-gray-800 {
  color: $gray-800;
}
.text-gray-900 {
  color: $gray-900;
}
.text-red-100 {
  color: $red-100;
}
.text-red-200 {
  color: $red-200;
}
.text-red-300 {
  color: $red-300;
}
.text-red-400 {
  color: $red-400;
}
.text-red-500 {
  color: $red-500;
}
.text-red-600 {
  color: $red-600;
}
.text-red-700 {
  color: $red-700;
}
.text-red-800 {
  color: $red-800;
}
.text-red-900 {
  color: $red-900;
}
.text-orange-100 {
  color: $orange-100;
}
.text-orange-200 {
  color: $orange-200;
}
.text-orange-300 {
  color: $orange-300;
}
.text-orange-400 {
  color: $orange-400;
}
.text-orange-500 {
  color: $orange-500;
}
.text-orange-600 {
  color: $orange-600;
}
.text-orange-700 {
  color: $orange-700;
}
.text-orange-800 {
  color: $orange-800;
}
.text-orange-900 {
  color: $orange-900;
}
.text-yellow-100 {
  color: $yellow-100;
}
.text-yellow-200 {
  color: $yellow-200;
}
.text-yellow-300 {
  color: $yellow-300;
}
.text-yellow-400 {
  color: $yellow-400;
}
.text-yellow-500 {
  color: $yellow-500;
}
.text-yellow-600 {
  color: $yellow-600;
}
.text-yellow-700 {
  color: $yellow-700;
}
.text-yellow-800 {
  color: $yellow-800;
}
.text-yellow-900 {
  color: $yellow-900;
}
.text-green-100 {
  color: $green-100;
}
.text-green-200 {
  color: $green-200;
}
.text-green-300 {
  color: $green-300;
}
.text-green-400 {
  color: $green-400;
}
.text-green-500 {
  color: $green-500;
}
.text-green-600 {
  color: $green-600;
}
.text-green-700 {
  color: $green-700;
}
.text-green-800 {
  color: $green-800;
}
.text-green-900 {
  color: $green-900;
}
.text-teal-100 {
  color: $teal-100;
}
.text-teal-200 {
  color: $teal-200;
}
.text-teal-300 {
  color: $teal-300;
}
.text-teal-400 {
  color: $teal-400;
}
.text-teal-500 {
  color: $teal-500;
}
.text-teal-600 {
  color: $teal-600;
}
.text-teal-700 {
  color: $teal-700;
}
.text-teal-800 {
  color: $teal-800;
}
.text-teal-900 {
  color: $teal-900;
}
.text-blue-100 {
  color: $blue-100;
}
.text-blue-200 {
  color: $blue-200;
}
.text-blue-300 {
  color: $blue-300;
}
.text-blue-400 {
  color: $blue-400;
}
.text-blue-500 {
  color: $blue-500;
}
.text-blue-600 {
  color: $blue-600;
}
.text-blue-700 {
  color: $blue-700;
}
.text-blue-800 {
  color: $blue-800;
}
.text-blue-900 {
  color: $blue-900;
}
.text-indigo-100 {
  color: $indigo-100;
}
.text-indigo-200 {
  color: $indigo-200;
}
.text-indigo-300 {
  color: $indigo-300;
}
.text-indigo-400 {
  color: $indigo-400;
}
.text-indigo-500 {
  color: $indigo-500;
}
.text-indigo-600 {
  color: $indigo-600;
}
.text-indigo-700 {
  color: $indigo-700;
}
.text-indigo-800 {
  color: $indigo-800;
}
.text-indigo-900 {
  color: $indigo-900;
}
.text-purple-100 {
  color: $purple-100;
}
.text-purple-200 {
  color: $purple-200;
}
.text-purple-300 {
  color: $purple-300;
}
.text-purple-400 {
  color: $purple-400;
}
.text-purple-500 {
  color: $purple-500;
}
.text-purple-600 {
  color: $purple-600;
}
.text-purple-700 {
  color: $purple-700;
}
.text-purple-800 {
  color: $purple-800;
}
.text-purple-900 {
  color: $purple-900;
}
.text-pink-100 {
  color: $pink-100;
}
.text-pink-200 {
  color: $pink-200;
}
.text-pink-300 {
  color: $pink-300;
}
.text-pink-400 {
  color: $pink-400;
}
.text-pink-500 {
  color: $pink-500;
}
.text-pink-600 {
  color: $pink-600;
}
.text-pink-700 {
  color: $pink-700;
}
.text-pink-800 {
  color: $pink-800;
}
.text-pink-900 {
  color: $pink-900;
}

/* Text opacity */
.text-opacity-100 {
  opacity: 1;
}
.text-opacity-75 {
  opacity: 0.75;
}
.text-opacity-50 {
  opacity: 0.5;
}
.text-opacity-25 {
  opacity: 0.25;
}
.text-opacity-0 {
  opacity: 0;
}

.text-accents-8 {
  color: $accents-8;
}
.text-accents-7 {
  color: $accents-7;
}
.text-accents-6 {
  color: $accents-6;
}
.text-accents-5 {
  color: $accents-5;
}
.text-accents-4 {
  color: $accents-4;
}
.text-accents-3 {
  color: $accents-3;
}
.text-accents-2 {
  color: $accents-2;
}
.text-accents-1 {
  color: $accents-1;
}

/* Placeholder color */
.placeholder-transparent::placeholder {
  color: transparent;
}
.placeholder-current::placeholder {
  color: currentColor;
}
.placeholder-black::placeholder {
  color: #000;
}
.placeholder-white::placeholder {
  color: #fff;
}
.placeholder-gray-100::placeholder {
  color: $gray-100;
}
.placeholder-gray-200::placeholder {
  color: $gray-200;
}
.placeholder-gray-300::placeholder {
  color: $gray-300;
}
.placeholder-gray-400::placeholder {
  color: $gray-400;
}
.placeholder-gray-500::placeholder {
  color: $gray-500;
}
.placeholder-gray-600::placeholder {
  color: $gray-600;
}
.placeholder-gray-700::placeholder {
  color: $gray-700;
}
.placeholder-gray-800::placeholder {
  color: $gray-800;
}
.placeholder-gray-900::placeholder {
  color: $gray-900;
}
.placeholder-red-100::placeholder {
  color: $red-100;
}
.placeholder-red-200::placeholder {
  color: $red-200;
}
.placeholder-red-300::placeholder {
  color: $red-300;
}
.placeholder-red-400::placeholder {
  color: $red-400;
}
.placeholder-red-500::placeholder {
  color: $red-500;
}
.placeholder-red-600::placeholder {
  color: $red-600;
}
.placeholder-red-700::placeholder {
  color: $red-700;
}
.placeholder-red-800::placeholder {
  color: $red-800;
}
.placeholder-red-900::placeholder {
  color: $red-900;
}
.placeholder-orange-100::placeholder {
  color: $orange-100;
}
.placeholder-orange-200::placeholder {
  color: $orange-200;
}
.placeholder-orange-300::placeholder {
  color: $orange-300;
}
.placeholder-orange-400::placeholder {
  color: $orange-400;
}
.placeholder-orange-500::placeholder {
  color: $orange-500;
}
.placeholder-orange-600::placeholder {
  color: $orange-600;
}
.placeholder-orange-700::placeholder {
  color: $orange-700;
}
.placeholder-orange-800::placeholder {
  color: $orange-800;
}
.placeholder-orange-900::placeholder {
  color: $orange-900;
}
.placeholder-yellow-100::placeholder {
  color: $yellow-100;
}
.placeholder-yellow-200::placeholder {
  color: $yellow-200;
}
.placeholder-yellow-300::placeholder {
  color: $yellow-300;
}
.placeholder-yellow-400::placeholder {
  color: $yellow-400;
}
.placeholder-yellow-500::placeholder {
  color: $yellow-500;
}
.placeholder-yellow-600::placeholder {
  color: $yellow-600;
}
.placeholder-yellow-700::placeholder {
  color: $yellow-700;
}
.placeholder-yellow-800::placeholder {
  color: $yellow-800;
}
.placeholder-yellow-900::placeholder {
  color: $yellow-900;
}
.placeholder-green-100::placeholder {
  color: $green-100;
}
.placeholder-green-200::placeholder {
  color: $green-200;
}
.placeholder-green-300::placeholder {
  color: $green-300;
}
.placeholder-green-400::placeholder {
  color: $green-400;
}
.placeholder-green-500::placeholder {
  color: $green-500;
}
.placeholder-green-600::placeholder {
  color: $green-600;
}
.placeholder-green-700::placeholder {
  color: $green-700;
}
.placeholder-green-800::placeholder {
  color: $green-800;
}
.placeholder-green-900::placeholder {
  color: $green-900;
}
.placeholder-teal-100::placeholder {
  color: $teal-100;
}
.placeholder-teal-200::placeholder {
  color: $teal-200;
}
.placeholder-teal-300::placeholder {
  color: $teal-300;
}
.placeholder-teal-400::placeholder {
  color: $teal-400;
}
.placeholder-teal-500::placeholder {
  color: $teal-500;
}
.placeholder-teal-600::placeholder {
  color: $teal-600;
}
.placeholder-teal-700::placeholder {
  color: $teal-700;
}
.placeholder-teal-800::placeholder {
  color: $teal-800;
}
.placeholder-teal-900::placeholder {
  color: $teal-900;
}
.placeholder-blue-100::placeholder {
  color: $blue-100;
}
.placeholder-blue-200::placeholder {
  color: $blue-200;
}
.placeholder-blue-300::placeholder {
  color: $blue-300;
}
.placeholder-blue-400::placeholder {
  color: $blue-400;
}
.placeholder-blue-500::placeholder {
  color: $blue-500;
}
.placeholder-blue-600::placeholder {
  color: $blue-600;
}
.placeholder-blue-700::placeholder {
  color: $blue-700;
}
.placeholder-blue-800::placeholder {
  color: $blue-800;
}
.placeholder-blue-900::placeholder {
  color: $blue-900;
}
.placeholder-indigo-100::placeholder {
  color: $indigo-100;
}
.placeholder-indigo-200::placeholder {
  color: $indigo-200;
}
.placeholder-indigo-300::placeholder {
  color: $indigo-300;
}
.placeholder-indigo-400::placeholder {
  color: $indigo-400;
}
.placeholder-indigo-500::placeholder {
  color: $indigo-500;
}
.placeholder-indigo-600::placeholder {
  color: $indigo-600;
}
.placeholder-indigo-700::placeholder {
  color: $indigo-700;
}
.placeholder-indigo-800::placeholder {
  color: $indigo-800;
}
.placeholder-indigo-900::placeholder {
  color: $indigo-900;
}
.placeholder-purple-100::placeholder {
  color: $purple-100;
}
.placeholder-purple-200::placeholder {
  color: $purple-200;
}
.placeholder-purple-300::placeholder {
  color: $purple-300;
}
.placeholder-purple-400::placeholder {
  color: $purple-400;
}
.placeholder-purple-500::placeholder {
  color: $purple-500;
}
.placeholder-purple-600::placeholder {
  color: $purple-600;
}
.placeholder-purple-700::placeholder {
  color: $purple-700;
}
.placeholder-purple-800::placeholder {
  color: $purple-800;
}
.placeholder-purple-900::placeholder {
  color: $purple-900;
}
.placeholder-pink-100::placeholder {
  color: $pink-100;
}
.placeholder-pink-200::placeholder {
  color: $pink-200;
}
.placeholder-pink-300::placeholder {
  color: $pink-300;
}
.placeholder-pink-400::placeholder {
  color: $pink-400;
}
.placeholder-pink-500::placeholder {
  color: $pink-500;
}
.placeholder-pink-600::placeholder {
  color: $pink-600;
}
.placeholder-pink-700::placeholder {
  color: $pink-700;
}
.placeholder-pink-800::placeholder {
  color: $pink-800;
}
.placeholder-pink-900::placeholder {
  color: $pink-900;
}

.placeholder-accents-8::placeholder {
  color: $accents-8;
}
.placeholder-accents-7::placeholder {
  color: $accents-7;
}
.placeholder-accents-6::placeholder {
  color: $accents-6;
}
.placeholder-accents-5::placeholder {
  color: $accents-5;
}
.placeholder-accents-4::placeholder {
  color: $accents-4;
}
.placeholder-accents-3::placeholder {
  color: $accents-3;
}
.placeholder-accents-2::placeholder {
  color: $accents-2;
}
.placeholder-accents-1::placeholder {
  color: $accents-1;
}

/* Text decoration */
.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.no-underline {
  text-decoration: none;
}

/* Text transform */
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-case {
  text-transform: none;
}

/* Vertical align */
.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.align-text-top {
  vertical-align: text-top;
}
.align-text-bottom {
  vertical-align: text-bottom;
}

/* Whitespace */
.whitespace-normal {
  white-space: normal;
}
.whitespace-no-wrap {
  white-space: nowrap;
}
.whitespace-pre {
  white-space: pre;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}

/* Word break */
.break-normal {
  word-break: normal;
  overflow-wrap: normal;
}
.break-words {
  overflow-wrap: break-word;
}
.break-all {
  word-break: break-all;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
