/* Border Radius */
.rounded-none {
  border-radius: 0;
}
.rounded-sm {
  border-radius: $rounded-sm;
}
.rounded {
  border-radius: $rounded;
}
.rounded-md {
  border-radius: $rounded-md;
}
.rounded-lg {
  border-radius: $rounded-lg;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-t-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rounded-b-none {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rounded-t-sm {
  border-top-left-radius: $rounded-sm;
  border-top-right-radius: $rounded-sm;
}
.rounded-r-sm {
  border-top-right-radius: $rounded-sm;
  border-bottom-right-radius: $rounded-sm;
}
.rounded-b-sm {
  border-bottom-right-radius: $rounded-sm;
  border-bottom-left-radius: $rounded-sm;
}
.rounded-l-sm {
  border-top-left-radius: $rounded-sm;
  border-bottom-left-radius: $rounded-sm;
}
.rounded-t {
  border-top-left-radius: $rounded;
  border-top-right-radius: $rounded;
}
.rounded-r {
  border-top-right-radius: $rounded;
  border-bottom-right-radius: $rounded;
}
.rounded-b {
  border-bottom-right-radius: $rounded;
  border-bottom-left-radius: $rounded;
}
.rounded-l {
  border-top-left-radius: $rounded;
  border-bottom-left-radius: $rounded;
}
.rounded-t-md {
  border-top-left-radius: $rounded-md;
  border-top-right-radius: $rounded-md;
}
.rounded-r-md {
  border-top-right-radius: $rounded-md;
  border-bottom-right-radius: $rounded-md;
}
.rounded-b-md {
  border-bottom-right-radius: $rounded-md;
  border-bottom-left-radius: $rounded-md;
}
.rounded-l-md {
  border-top-left-radius: $rounded-md;
  border-bottom-left-radius: $rounded-md;
}
.rounded-t-lg {
  border-top-left-radius: $rounded-lg;
  border-top-right-radius: $rounded-lg;
}
.rounded-r-lg {
  border-top-right-radius: $rounded-lg;
  border-bottom-right-radius: $rounded-lg;
}
.rounded-b-lg {
  border-bottom-right-radius: $rounded-lg;
  border-bottom-left-radius: $rounded-lg;
}
.rounded-l-lg {
  border-top-left-radius: $rounded-lg;
  border-bottom-left-radius: $rounded-lg;
}
.rounded-t-full {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}
.rounded-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
.rounded-b-full {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
.rounded-l-full {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
.rounded-tl-none {
  border-top-left-radius: 0;
}
.rounded-tr-none {
  border-top-right-radius: 0;
}
.rounded-br-none {
  border-bottom-right-radius: 0;
}
.rounded-bl-none {
  border-bottom-left-radius: 0;
}
.rounded-tl-sm {
  border-top-left-radius: $rounded-sm;
}
.rounded-tr-sm {
  border-top-right-radius: $rounded-sm;
}
.rounded-br-sm {
  border-bottom-right-radius: $rounded-sm;
}
.rounded-bl-sm {
  border-bottom-left-radius: $rounded-sm;
}
.rounded-tl {
  border-top-left-radius: $rounded;
}
.rounded-tr {
  border-top-right-radius: $rounded;
}
.rounded-br {
  border-bottom-right-radius: $rounded;
}
.rounded-bl {
  border-bottom-left-radius: $rounded;
}
.rounded-tl-md {
  border-top-left-radius: $rounded-md;
}
.rounded-tr-md {
  border-top-right-radius: $rounded-md;
}
.rounded-br-md {
  border-bottom-right-radius: $rounded-md;
}
.rounded-bl-md {
  border-bottom-left-radius: $rounded-md;
}
.rounded-tl-lg {
  border-top-left-radius: $rounded-lg;
}
.rounded-tr-lg {
  border-top-right-radius: $rounded-lg;
}
.rounded-br-lg {
  border-bottom-right-radius: $rounded-lg;
}
.rounded-bl-lg {
  border-bottom-left-radius: $rounded-lg;
}
.rounded-tl-full {
  border-top-left-radius: 9999px;
}
.rounded-tr-full {
  border-top-right-radius: 9999px;
}
.rounded-br-full {
  border-bottom-right-radius: 9999px;
}
.rounded-bl-full {
  border-bottom-left-radius: 9999px;
}

/* Border Width */
.border {
  border-width: 1px;
}
.border-0 {
  border-width: 0;
}
.border-2 {
  border-width: 2px;
}
.border-4 {
  border-width: 4px;
}
.border-8 {
  border-width: 8px;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l {
  border-left-width: 1px;
}
.border-t-0 {
  border-top-width: 0;
}
.border-r-0 {
  border-right-width: 0;
}
.border-b-0 {
  border-bottom-width: 0;
}
.border-l-0 {
  border-left-width: 0;
}
.border-t-2 {
  border-top-width: 2px;
}
.border-r-2 {
  border-right-width: 2px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-t-4 {
  border-top-width: 4px;
}
.border-r-4 {
  border-right-width: 4px;
}
.border-b-4 {
  border-bottom-width: 4px;
}
.border-l-4 {
  border-left-width: 4px;
}
.border-t-8 {
  border-top-width: 8px;
}
.border-r-8 {
  border-right-width: 8px;
}
.border-b-8 {
  border-bottom-width: 8px;
}
.border-l-8 {
  border-left-width: 8px;
}

/* Border Color */
.border-transparent {
  border-color: transparent;
}
.border-current {
  border-color: currentColor;
}
.border-black {
  border-color: #000;
}
.border-white {
  border-color: #fff;
}
.border-gray-100 {
  border-color: $gray-100;
}
.border-gray-200 {
  border-color: $gray-200;
}
.border-gray-300 {
  border-color: $gray-300;
}
.border-gray-400 {
  border-color: $gray-400;
}
.border-gray-500 {
  border-color: $gray-500;
}
.border-gray-600 {
  border-color: $gray-600;
}
.border-gray-700 {
  border-color: $gray-700;
}
.border-gray-800 {
  border-color: $gray-800;
}
.border-gray-900 {
  border-color: $gray-900;
}
.border-red-100 {
  border-color: $red-100;
}
.border-red-200 {
  border-color: $red-200;
}
.border-red-300 {
  border-color: $red-300;
}
.border-red-400 {
  border-color: $red-400;
}
.border-red-500 {
  border-color: $red-500;
}
.border-red-600 {
  border-color: $red-600;
}
.border-red-700 {
  border-color: $red-700;
}
.border-red-800 {
  border-color: $red-800;
}
.border-red-900 {
  border-color: $red-900;
}
.border-orange-100 {
  border-color: $orange-100;
}
.border-orange-200 {
  border-color: $orange-200;
}
.border-orange-300 {
  border-color: $orange-300;
}
.border-orange-400 {
  border-color: $orange-400;
}
.border-orange-500 {
  border-color: $orange-500;
}
.border-orange-600 {
  border-color: $orange-600;
}
.border-orange-700 {
  border-color: $orange-700;
}
.border-orange-800 {
  border-color: $orange-800;
}
.border-orange-900 {
  border-color: $orange-900;
}
.border-yellow-100 {
  border-color: $yellow-100;
}
.border-yellow-200 {
  border-color: $yellow-200;
}
.border-yellow-300 {
  border-color: $yellow-300;
}
.border-yellow-400 {
  border-color: $yellow-400;
}
.border-yellow-500 {
  border-color: $yellow-500;
}
.border-yellow-600 {
  border-color: $yellow-600;
}
.border-yellow-700 {
  border-color: $yellow-700;
}
.border-yellow-800 {
  border-color: $yellow-800;
}
.border-yellow-900 {
  border-color: $yellow-900;
}
.border-green-100 {
  border-color: $green-100;
}
.border-green-200 {
  border-color: $green-200;
}
.border-green-300 {
  border-color: $green-300;
}
.border-green-400 {
  border-color: $green-400;
}
.border-green-500 {
  border-color: $green-500;
}
.border-green-600 {
  border-color: $green-600;
}
.border-green-700 {
  border-color: $green-700;
}
.border-green-800 {
  border-color: $green-800;
}
.border-green-900 {
  border-color: $green-900;
}
.border-teal-100 {
  border-color: $teal-100;
}
.border-teal-200 {
  border-color: $teal-200;
}
.border-teal-300 {
  border-color: $teal-300;
}
.border-teal-400 {
  border-color: $teal-400;
}
.border-teal-500 {
  border-color: $teal-500;
}
.border-teal-600 {
  border-color: $teal-600;
}
.border-teal-700 {
  border-color: $teal-700;
}
.border-teal-800 {
  border-color: $teal-800;
}
.border-teal-900 {
  border-color: $teal-900;
}
.border-blue-100 {
  border-color: $blue-100;
}
.border-blue-200 {
  border-color: $blue-200;
}
.border-blue-300 {
  border-color: $blue-300;
}
.border-blue-400 {
  border-color: $blue-400;
}
.border-blue-500 {
  border-color: $blue-500;
}
.border-blue-600 {
  border-color: $blue-600;
}
.border-blue-700 {
  border-color: $blue-700;
}
.border-blue-800 {
  border-color: $blue-800;
}
.border-blue-900 {
  border-color: $blue-900;
}
.border-indigo-100 {
  border-color: $indigo-100;
}
.border-indigo-200 {
  border-color: $indigo-200;
}
.border-indigo-300 {
  border-color: $indigo-300;
}
.border-indigo-400 {
  border-color: $indigo-400;
}
.border-indigo-500 {
  border-color: $indigo-500;
}
.border-indigo-600 {
  border-color: $indigo-600;
}
.border-indigo-700 {
  border-color: $indigo-700;
}
.border-indigo-800 {
  border-color: $indigo-800;
}
.border-indigo-900 {
  border-color: $indigo-900;
}
.border-purple-100 {
  border-color: $purple-100;
}
.border-purple-200 {
  border-color: $purple-200;
}
.border-purple-300 {
  border-color: $purple-300;
}
.border-purple-400 {
  border-color: $purple-400;
}
.border-purple-500 {
  border-color: $purple-500;
}
.border-purple-600 {
  border-color: $purple-600;
}
.border-purple-700 {
  border-color: $purple-700;
}
.border-purple-800 {
  border-color: $purple-800;
}
.border-purple-900 {
  border-color: $purple-900;
}
.border-pink-100 {
  border-color: $pink-100;
}
.border-pink-200 {
  border-color: $pink-200;
}
.border-pink-300 {
  border-color: $pink-300;
}
.border-pink-400 {
  border-color: $pink-400;
}
.border-pink-500 {
  border-color: $pink-500;
}
.border-pink-600 {
  border-color: $pink-600;
}
.border-pink-700 {
  border-color: $pink-700;
}
.border-pink-800 {
  border-color: $pink-800;
}
.border-pink-900 {
  border-color: $pink-900;
}

/* Border Opacity */
.border-opacity-100 {
  opacity: 1;
}
.border-opacity-75 {
  opacity: 0.75;
}
.border-opacity-50 {
  opacity: 0.5;
}
.border-opacity-25 {
  opacity: 0.25;
}
.border-opacity-0 {
  opacity: 0;
}

/* Border Style */
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-dotted {
  border-style: dotted;
}
.border-double {
  border-style: double;
}
.border-none {
  border-style: none;
}
