/* Appearance */
.appearance-none {
  appearance: none;
}

/* Cursor */
.cursor-auto {
  cursor: auto;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-wait {
  cursor: wait;
}
.cursor-text {
  cursor: text;
}
.cursor-move {
  cursor: move;
}
.cursor-not-allowed {
  cursor: not-allowed;
}

/* Outline */
.outline-none {
  outline: 0;
}

/* Pointer Events */
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}

/* Resize */
.resize-none {
  resize: none;
}
.resize {
  resize: both;
}
.resize-y {
  resize: vertical;
}
.resize-x {
  resize: horizontal;
}

/* User Select */
.select-none {
  user-select: none;
}
.select-text {
  user-select: text;
}
.select-all {
  user-select: all;
}
.select-auto {
  user-select: auto;
}
