/* Width */
$w-1: 0.25rem;
$w-2: 0.5rem;
$w-3: 0.75rem;
$w-4: 1rem;
$w-5: 1.25rem;
$w-6: 1.5rem;
$w-8: 2rem;
$w-10: 2.5rem;
$w-12: 3rem;
$w-16: 4rem;
$w-20: 5rem;
$w-24: 6rem;
$w-32: 8rem;
$w-40: 10rem;
$w-48: 12rem;
$w-56: 14rem;
$w-64: 16rem;

/* Max-Width */
$max-w-xs: 20rem;
$max-w-sm: 24rem;
$max-w-md: 28rem;
$max-w-lg: 32rem;
$max-w-xl: 36rem;
$max-w-2xl: 42rem;
$max-w-3xl: 48rem;
$max-w-4xl: 56rem;
$max-w-5xl: 64rem;
$max-w-6xl: 72rem;
$max-w-screen-sm: $screen-sm;
$max-w-screen-md: $screen-md;
$max-w-screen-lg: $screen-lg;
$max-w-screen-xl: $screen-xl;

/* Height */
$h-1: 0.25rem;
$h-2: 0.5rem;
$h-3: 0.75rem;
$h-4: 1rem;
$h-5: 1.25rem;
$h-6: 1.5rem;
$h-8: 2rem;
$h-10: 2.5rem;
$h-12: 3rem;
$h-16: 4rem;
$h-20: 5rem;
$h-24: 6rem;
$h-32: 8rem;
$h-40: 10rem;
$h-48: 12rem;
$h-56: 14rem;
$h-64: 16rem;
