$gap-1: 0.25rem;
$gap-2: 0.5rem;
$gap-3: 0.75rem;
$gap-4: 1rem;
$gap-5: 1.25rem;
$gap-6: 1.5rem;
$gap-8: 2rem;
$gap-10: 2.5rem;
$gap-12: 3rem;
$gap-16: 4rem;
$gap-20: 5rem;
$gap-24: 6rem;
$gap-32: 8rem;
$gap-40: 10rem;
$gap-48: 12rem;
$gap-56: 14rem;
$gap-64: 16rem;
