.footer {
  @extend .bg-accents-8, .border-t, .border-accents-7, .text-accents-5;

  &__wrapper {
    @extend .container,
      .pt-12,
      .pb-16,
      .flex,
      .items-center,
      .justify-center,
      .max-w-screen-xl,
      .mx-auto,
      .px-8;

    &__list {
      @extend .h-12,
        .max-w-lg,
        .mx-auto,
        .inline-flex,
        .items-center,
        .justify-center,
        .text-center,
        .text-sm;

      &__item::after {
        color: #b7b5bd;
        content: "•";
        padding: 0.75rem;
        font-size: 8px;
        vertical-align: middle;
      }

      &__item:last-child:after {
        content: "";
      }
    }
  }
}
